In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import tensorflow as tf
import matplotlib.pyplot as plt
import sklearn as sk

In [6]:
df = pd.read_csv("predictive_maintenance.csv")

In [7]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [9]:
df.drop(["UDI","Product ID"],axis=1,inplace= True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Type                     10000 non-null  object
 1   Air temperature [K]      10000 non-null  float64
 2   Process temperature [K]  10000 non-null  float64
 3   Rotational speed [rpm]   10000 non-null  int64
 4   Torque [Nm]              10000 non-null  float64
 5   Tool wear [min]          10000 non-null  int64
 6   Target                   10000 non-null  int64
 7   Failure Type             10000 non-null  object
dtypes: float64(3), int64(3), object(2)
memory usage: 625.1+ KB

In [14]:
df

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,M,298.1,308.6,1551,42.8,0,0,No Failure
1,L,298.2,308.7,1408,46.3,3,0,No Failure
2,L,298.1,308.5,1498,49.4,5,0,No Failure
3,L,298.2,308.6,1433,39.5,7,0,No Failure
4,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,M,299.0,308.7,1500,40.2,30,0,No Failure

In [16]:
df.drop("Failure Type",axis=1,inplace=True)

KeyError: "['Failure Type'] not found in axis"

In [19]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
0,M,298.1,308.6,1551,42.8,0,0
1,L,298.2,308.7,1408,46.3,3,0
2,L,298.1,308.5,1498,49.4,5,0
3,L,298.2,308.6,1433,39.5,7,0
4,L,298.2,308.7,1408,40.0,9,0

In [20]:
feature_columns = ["Air temperature [K]","Process temperature [K]","Rotational speed [rpm]","Torque [Nm]","Tool wear [min]"]

In [21]:
X = df[feature_columns]
y = df.pop("Target")

In [22]:
X.head()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min]
0,298.1,308.6,1551,42.8,0
1,298.2,308.7,1408,46.3,3
2,298.1,308.5,1498,49.4,5
3,298.2,308.6,1433,39.5,7
4,298.2,308.7,1408,40.0,9

In [23]:
y

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Target, Length: 10000, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [28]:
X_train,X_test

(      Air temperature [K]  Process temperature [K]  Rotational speed [rpm]  \
 8856                297.7                    308.9                    1327
 1545                298.4                    309.0                    1544
 8136                299.6                    310.9                    1474
 7768                300.2                    311.4                    1960
 7782                300.4                    311.6                    1518
 ...                   ...                      ...                     ...
 1099                296.8                    307.4                    1472
 2514                298.9                    308.6                    2069
 6637                301.5                    310.5                    1453
 2575                299.5                    309.3                    1422
 7336                299.9                    310.5                    1549

       Torque [Nm]  Tool wear [min]
 8856         63.7               21
 1545         38.8               97
 8136         39.7               64
 7768         20.9               20
 7782         36.4               53
 ...           ...              ...
 1099         43.9               30
 2514         18.7               27
 6637         48.0              124
 2575         49.2              179
 7336         42.8              208

 [8000 rows x 5 columns],
       Air temperature [K]  Process temperature [K]  Rotational speed [rpm]  \
 7878                300.7                    312.3                    1418
 3224                300.6                    309.5                    1557
 1919                298.2                    308.0                    1658
 4432                302.4                    310.2                    1445
 4835                303.4                    311.9                    1419
 ...                   ...                      ...                     ...
 9073                297.2                    308.1                    1689
 8584                297.4                    307.9                    1390
 5390                302.8                    312.3                    1483
 5092                303.9                    313.2                    1608
 2964                300.7                    309.5                    1692

       Torque [Nm]  Tool wear [min]
 7878         49.0               69
 3224         33.8               84
 1919         30.0                3
 4432         46.4              125
 4835         50.9               39
 ...           ...              ...
 9073         31.2              145
 8584         47.7              156
 5390         47.2              223
 5092         40.6               79
 2964         30.3               64

 [2000 rows x 5 columns])